{% extends 'base.html' %}

<h1>{% block title %} Hidsig PI {% endblock %}</h1>

{% block firstDevicesHtml %}
<div>
<h2 style="text-align:center; color:white">Monitoring <i>Drivhus 1</i></h2>
    <div style="display:flex">
        <div style="display:flex; margin-top: 100px; padding-top: 25px">
            <div class="circleLight borderOpacity" style="margin-right:-50px">
                <span class="percent-container" style="text-align:center">
                <span class="percent-value">{{measuredLight}}</span><sup class="percent"><br>Light</sup>
                </span>
                <div class="inner startLoading innerOpacity">
                </div>
            </div>
            <div class="circleTemp borderOpacity" style="margin-top:-110px">
                <span class="percent-container" style="text-align:center">
                <span class="percent-value">{{measuredTemp}}</span><sup class="percent"><br>Temperature</sup>
                </span>
                <div class="inner startLoading innerOpacity">
                </div>
            </div>
            <div class="circleSound borderOpacity" style="margin-left:-50px">
                <span class="percent-container" style="text-align:center">
                <span class="percent-value">{{measuredSound}}</span><sup class="percent"><br>Sound</sup>
                </span>
                <div class="inner startLoading innerOpacity">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block secondDevicesHtml %}

{% endblock %}
